In [38]:
import pandas as pd

In [39]:
df= pd.read_csv('11. Naive Bayes titanic.csv')
df

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [40]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis='columns',inplace=True)

In [41]:
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [42]:
target = df.Survived

In [43]:
inputs = df.drop('Survived', axis='columns')

In [44]:
dummies = pd.get_dummies(inputs.Sex, dtype=int)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [45]:
inputs = inputs.drop('Sex', axis='columns')

In [46]:
inputs

     Pclass   Age     Fare
0         3  22.0   7.2500
1         1  38.0  71.2833
2         3  26.0   7.9250
3         1  35.0  53.1000
4         3  35.0   8.0500
..      ...   ...      ...
886       2  27.0  13.0000
887       1  19.0  30.0000
888       3   NaN  23.4500
889       1  26.0  30.0000
890       3  32.0   7.7500

[891 rows x 3 columns]

In [47]:
inputs = pd.concat([inputs, dummies], axis='columns')
inputs

     Pclass   Age     Fare  female  male
0         3  22.0   7.2500       0     1
1         1  38.0  71.2833       1     0
2         3  26.0   7.9250       1     0
3         1  35.0  53.1000       1     0
4         3  35.0   8.0500       0     1
..      ...   ...      ...     ...   ...
886       2  27.0  13.0000       0     1
887       1  19.0  30.0000       1     0
888       3   NaN  23.4500       1     0
889       1  26.0  30.0000       0     1
890       3  32.0   7.7500       0     1

[891 rows x 5 columns]

In [48]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [49]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [50]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs

     Pclass        Age     Fare  female  male
0         3  22.000000   7.2500       0     1
1         1  38.000000  71.2833       1     0
2         3  26.000000   7.9250       1     0
3         1  35.000000  53.1000       1     0
4         3  35.000000   8.0500       0     1
..      ...        ...      ...     ...   ...
886       2  27.000000  13.0000       0     1
887       1  19.000000  30.0000       1     0
888       3  29.699118  23.4500       1     0
889       1  26.000000  30.0000       0     1
890       3  32.000000   7.7500       0     1

[891 rows x 5 columns]

In [51]:
from sklearn.preprocessing import StandardScaler

In [52]:
scale = StandardScaler()

In [53]:
scaled_input = scale.fit_transform(inputs)
scaled_input

array([[ 0.82737724, -0.5924806 , -0.50244517, -0.73769513,  0.73769513],
       [-1.56610693,  0.63878901,  0.78684529,  1.35557354, -1.35557354],
       [ 0.82737724, -0.2846632 , -0.48885426,  1.35557354, -1.35557354],
       ...,
       [ 0.82737724,  0.        , -0.17626324,  1.35557354, -1.35557354],
       [-1.56610693, -0.2846632 , -0.04438104, -0.73769513,  0.73769513],
       [ 0.82737724,  0.17706291, -0.49237783, -0.73769513,  0.73769513]])

In [54]:
new_df = pd.DataFrame(scaled_input,  columns=inputs.columns)
new_df

       Pclass       Age      Fare    female      male
0    0.827377 -0.592481 -0.502445 -0.737695  0.737695
1   -1.566107  0.638789  0.786845  1.355574 -1.355574
2    0.827377 -0.284663 -0.488854  1.355574 -1.355574
3   -1.566107  0.407926  0.420730  1.355574 -1.355574
4    0.827377  0.407926 -0.486337 -0.737695  0.737695
..        ...       ...       ...       ...       ...
886 -0.369365 -0.207709 -0.386671 -0.737695  0.737695
887 -1.566107 -0.823344 -0.044381  1.355574 -1.355574
888  0.827377  0.000000 -0.176263  1.355574 -1.355574
889 -1.566107 -0.284663 -0.044381 -0.737695  0.737695
890  0.827377  0.177063 -0.492378 -0.737695  0.737695

[891 rows x 5 columns]

In [55]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(new_df, target, test_size=0.2)

In [56]:
len(x_train)

712

In [57]:
len(x_test)

179

In [58]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [69]:
model.fit(x_train, y_train)

GaussianNB()

In [70]:
model.score(x_test, y_test)

0.7094972067039106

In [71]:
x_test[:10]

       Pclass       Age      Fare    female      male
70  -0.369365  0.177063 -0.437007 -0.737695  0.737695
426 -0.369365 -0.130754 -0.124920  1.355574 -1.355574
367  0.827377  0.000000 -0.502864  1.355574 -1.355574
445 -1.566107 -1.977659  0.999770 -0.737695  0.737695
261  0.827377 -2.054613 -0.016444 -0.737695  0.737695
821  0.827377 -0.207709 -0.474005 -0.737695  0.737695
752  0.827377  0.254017 -0.457142 -0.737695  0.737695
327 -0.369365  0.484880 -0.386671  1.355574 -1.355574
348  0.827377 -2.054613 -0.328280 -0.737695  0.737695
253  0.827377  0.023154 -0.324253 -0.737695  0.737695